{% extends 'base.html.twig' %}

{% block body %}
	{% if app.user  %} {% endif %}
	<div class="container col-md-6 text-center mt-3">
		<h1 class="text text-info">Contact</h1>
		{% if contacts == null %}
			<h4 class="text text-bg-info mt-4">Contact not found !</h4>
		{% else %}
			<a class="btn btn-warning" href="{{ path('contact_add')}}">Add</a>
			<table class="table table-info mt-3">
				<thead>
					<tr>
						<th>City</th>
						<th>Phone Number</th>
						<th>Direction</th>

						<th>Actions</th>

					</tr>
				</thead>
				<tbody>
					{% for contact in contacts %}
						<tr>
							<td>
								{{contact.City}}
							</td>
							<td>
								{{contact.Phone}}
							</td>

							<td>
								<a class="text-decoration-none" href="{{contact.Direction}}">
									{{contact.Direction}}
								</a>
							</td>
								<td>
									<a class="btn btn-info" href="{{ path('contact_edit', {id: contact.id })}}">
										EDIT
									</a>
									<a class="btn btn-danger" href="{{ path('contact_delete', {id: contact.id })}}" onclick="return confirm('Are you sure to delete this contact ?');">
										DELETE
									</a>
								</td>
								

						</tr>
					{% endfor %}
				</tbody>
			</table>

			
		{% endif %}
	</div>
{% endblock %}