<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} T-shirt {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('css/style.css')}}">

        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block navigation %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="nav-item nav-link text text-danger" href=" {{ path('home') }} ">Homepage </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-item nav-link text text-success" href=" {{ path('product_index') }}">Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link text text-primary" href=" {{ path('category_index') }}">Category List</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link text text-primary" href=" {{ path('contact_index') }}">Contact List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Logout 
                <i>
                {% if app.user  %}({{ app.user.username }})</i></a>{% endif %}
        </li>
      </ul>

    </div>
  </div>
</nav>
        
        {% endblock %}

        {% block message %}
        <div class="container col-md-10 text-center mb-3 mt-4">
            {% for error in app.session.flashBag.get('Error') %}
                <p class="alert alert-danger">{{ error }} </p>
            {% endfor %}
            {% for success in app.session.flashBag.get('Success') %}
                <p class="alert alert-success">{{ success }} </p>
        </div>
        {% endfor %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
        <div class="container fluid col-md-10 text-center mt-5">
            <p class="text text-bg-light">LH-0354254414-Vu Tuan Anh-2022 </p>
        </div>
        {% endblock %}
    </body>
</html>